<div class="wrapper fadeInDown">
  <div id="formContent">
    
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <input formControlName="email"   [(ngModel)]="email" type="text"  class="fadeIn second" name="login" placeholder="email">
      <input formControlName="password"  [(ngModel)]="password" type="password"  class="fadeIn third" name="login" placeholder="password">
     
     
     
     
      <div *ngIf=" submitted && (loginForm.get('email').errors || loginForm.get('password').errors )" > 
        <div class="alert alert-danger" role="alert" style="width:40%;margin-bottom: 1%;margin-left: 25%;" >
            Verify email or/and password
          </div> 
    </div> 
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/forgotPass']">Forgot Password?</a>
    </div>

  </div>
</div>